body{
	width: 1000px;
	margin:auto;
}

img{
	max-width: 350px;
	
}

.choose {
	margin-top: 100px;
}

.picture{
	float: left;
	height: 420px;
}
.info{
	padding-top: 50px;

}

.name2{
	font-size: 18px;
	color: #58595b;
	font-weight: bold;
}

.price{
	font-size: 24px;
    font-weight: bold;
    color: #d0021b;
}

a{
	text-decoration: none;
}