*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img {
	max-width: 200px;
	height: 200px;
	margin:auto;
	margin-top: 30px;
	margin-left: 30px;
}

.box{
	float: left;
	height: 300px;
	width: 25%;
}

.choose {
	margin-top: 100px;
}

.name{
	text-align: center;
}

body{
	margin-top: 100px;
	margin:auto;
	width: 1000px;
}

a{
	text-decoration: none;
}

.price {
	color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


