*{
	margin:0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	overflow: auto;
}
body{
	background-color:grey;
}
.wrapper{
	
	max-width: 1200px;
	margin: auto;
}
.header{
	background: #263545;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header a{
	color: white;
}
.logo{
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana;
	text-decoration: none;
	padding-left: 30px;
}
.main_menu{
	width: 35%;
	float: right;
}
.main_menu li{
	float: left;
	color: white;
	list-style-type: none;
}
.main_menu li a{
	padding: 0px 30px;
	text-decoration: none;
	width: 10%;
}




.content{
	background-color: white;
}

.box{
	width:90%;
	margin:auto;
	padding-top: 50px;
}

.Image{
	width: 27%;
	max-width: 360px;
	float: left;
	margin: 5px;
}

.Image img{
	max-width: 100%;
	border: 1px solid;
	border-radius: 2px;
}

.Image img:hover{
	border-radius: 10px;
	border:3px solid orange;
}



